
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

:root{
    --color-primary:#161618;
    --color-secondary:#ff9839;
    --color-white: #f9f9f9;
    --color-variant: hsl(214, 11%, 24%);
    --color-variant2: #4b5453;

    --padding: 0.6rem;
    --border-radius: 2px;
    --margin : 0.6rem;
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "header" "patterners" "about" "agents" "gallery" "footer";
    font-family: DM sans ;
    color: var(--color-white);
}
header{
    grid-area: header;
    height: 100vh;
    width: 100vw;
    color: var(--color-white);
    background-color: var(--color-primary);
    display: grid;
    grid-template-rows: 100px 1fr;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 50px;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    margin: 0;
    overflow: hidden;
    padding: var(--padding);  
}
a{
    text-decoration: none;
    color: var(--color-white);

}
.contact-btn {
    background-color: var(--color-secondary);
    width: 100px;
    text-align: center;
    align-items: center;
    border-radius: var(--border-radius);
    padding: var(--padding);
}

.menu-button-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

#menu-toggle{
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after{
    display: block;
    background-color: var(--color-white);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

#patterners{
    grid-area: patterners;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2rem;
}
.patterners_logos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-secondary);
    font-weight: bold;
}
#patterners small{
    font-size: 11px;
}
.menu-button::before{
    content: '';
    margin-top: -8px;
  }
  .menu-button::after{
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked+.menu-button-container .menu-button::before{
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked+.menu-button-container .menu-button{
    background: rgba(164, 156, 156, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  /* =========== small device ============== */
@media screen and (max-width: 600px) {
  header{
    background-size: cover;
  }
    .menu-button-container{
      display: flex;
    }
    .menu{
      position: absolute;
      top: 0;
      margin-top: 50px;
      left:0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    header>h1{
      margin-top: 55%;
    }
    #menu-toggle ~ .menu li{
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li{
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li{
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.50em 0;
      width: 100%;
      color: #fff;
      background-color: #222;
    }
    .menu > li:not(:last-child){
      border-bottom: 1px solid #444;
    }
    /* .hero{
        display: flex;
        flex-direction: column;
    }
    .hero__image{
        width: 100%;
        height: 50%;
    } */
}
/* end of tooggle button menu */

.hero{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.998fr 0.002fr;
    grid-template-areas: "devise image" "search search";
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    margin-bottom:var(--margin);
}
.devise{
    grid-area: devise;
}

.hero__image{
    grid-area: image;
    /* overflow: hidden; */
    height: 100%;
    position: relative;

}
.hero__image>img{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.hero__image div{

    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    transform: rotateY(-50deg) scale(0.5);
    transition: all 0.6s cubic-bezier(0.445, 0.05, 0,55, 0,95);
    transform-origin: bottom;
    /* opacity: 0; */
}

.hero__image.active div{
    opacity: 1;
    transform: rotateY(0deg) translateY(0);
    transition-delay: 0.5s;
}
.search{
    display: flex;
    flex-direction: column;
    grid-area:search;
    margin: -200px 0 0 25%;
    /* align-items: center; */
}
.groupes{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.groupes li{
    background-color: var(--color-variant2);
    padding: var(--padding);
}
.groupes li a{
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    padding: var(--padding);
}
.categories{
    display: flex;
}
.categories article{
    background-color: var(--color-variant2);
    padding: calc(var(--padding) * 2);
}
.groupes .active{
    background-color: var(--color-variant);
}
#about{
    background-color: var(--color-primary);
    grid-area:about;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.6fr 0.3fr;
    grid-template-areas: "image texte" "stat stat";
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    gap: 2rem;
}

.about_image{
    grid-area: image;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about_image img{
    width: 100%;
    height: auto;
    opacity: 0;
}
.about_us{
    grid-area: texte;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: calc(var(--padding) * 2)
}
.statistics{
    grid-area: stat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.statistics article h1{
    color: var(--color-secondary);
    
}
#agents{
    background-color: var(--color-primary);
    grid-area: agents;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding);
}
.stars{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.agents_image{
    width: 50%;
}
.star{
    width: 100%;
}
.stars_details{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.7rem;
}
.stars_details article{
    border-left: 3px var(--color-secondary) solid;
    /* padding-left: var(--padding); */
}
.stars_details article p{
    font-size: 10px;
    line-height: 0.7rem;
    padding : var(--padding) 0 0 var(--padding);
    line-break: inherit;
}
#gallery{
    background-color: rgb(37, 37, 41);
    grid-area: gallery;
}
footer{
    background-color: rgb(100, 112, 172);
    grid-area: footer;
}